* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: Montserrat, sans-serif;
	font-size: 10px;
	font-weight: 700;
}

body {
	color: #ffffff;
	background: #333333;
}

a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.2em;
	letter-spacing: 2px;
	transition: color 500ms cubic-bezier(.23, 1, .32, 1);
}

a:hover {
	color: #ffD500;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.gold-text {
	color: #ffd500;
}

p.hero {
	font-weight: 600;
	line-height: 1.2em;
	letter-spacing: 1px;
	font-size: 3em;
}

.text-size-x2 {
	font-size: 2em;
}

.text-size-x5 {
	font-size: 5em;
}

.text-size-x8 {
	font-size: 8em;
}

.text-size-x10 {
	font-size: 10em;
}

.padding-all-10 {
	padding: 10px;
}

.padding-all-20 {
	padding: 20px;
}

#header {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	background-color: rgba(0, 0, 0, .5)
}

#header-grid {
	max-width: 80%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 1fr;
	margin-right: auto;
	margin-left: auto;
}

#logo-wrapper {
	padding: 20px 0px 20px 0px;
	font-size: 4rem;
	letter-spacing: 4px;
}

#nav-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#contact-link-wrapper {
	padding: 10px 0px 10px 0px;
}

#white-underline {
	background-image: url(../images/icons/Unline_White.svg);
	background-position: 50% 85%;
	background-repeat: no-repeat;
	background-size: auto;
}

#hero {
	width: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	background-image: url(../images/solbg.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#hero-wrapper {
	max-width: 50%;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #ffD500;
	background: rgba(0, 0, 0, .5)
}

.button {
	display: inline-block;
	width: auto;
	border-radius: 20px;
	padding: 10px 20px;
	font-family: Montserrat, sans-serif;
	font-size: 1.3em;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	cursor: pointer;
}

#title {
	position: absolute;
	top: 0%;
	right: 0%;
	bottom: auto;
	left: 0%;
	background-color: #ffD500;
	width: auto;
	padding: 40px 0px 40px 0px;
}

h2.title-text {
	font-size: 5em;
	text-align: center;
	text-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}

form {
	margin-top: 40px;
}

input.field {
	padding-left: 10px;
	height: 40px;
	width: 300px;
	font-family: Montserrat, sans-serif;
	letter-spacing: 1px;
}

.flex-container-vert {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
}

.flex-container-horiz {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
}

.submit-button {
	border: 2px solid transparent;
	background: #ffD500;
	color: #000000;
	transition-property: border-color, background-color, color;
	transition-duration: 500ms; 
}

.submit-button:hover {
	border: 2px solid #ffD500;
	background: transparent;
	color: #ffD500;
}

#features {
	position: relative;
	width: auto;
	height: 900px;
}